#wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 40px 100px 40px;
}
#wrapper.home {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 40px 20px 40px;
}
::selection {
  background: #b0e2ff;
  color: #fff;
}
@media only screen and (min-width: 767px) {
  .gist-highlight :-webkit-scrollbar-track-piece,
  .highlight::-webkit-scrollbar-track-piece,
  html::-webkit-scrollbar-track-piece,
  pre::-webkit-scrollbar-track-piece {
    background: #eee;
  }
  .gist-highlight::-webkit-scrollbar,
  .highlight::-webkit-scrollbar,
  html::-webkit-scrollbar,
  pre::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .gist-highlight::-webkit-scrollbar-thumb,
  .highlight::-webkit-scrollbar-thumb,
  html::-webkit-scrollbar-thumb,
  pre::-webkit-scrollbar-thumb {
    height: 40px;
    border-radius: 4px;
    background-color: #5694f1;
  }
  .gist-highlight::-webkit-scrollbar-thumb:hover,
  .highlight::-webkit-scrollbar-thumb:hover,
  html::-webkit-scrollbar-thumb:hover,
  pre::-webkit-scrollbar-thumb:hover {
    background-color: #5badf0;
  }
}
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 40px 0;
  font-size: 13px;
  line-height: 1.5em;
}
button.btn {
  background: #5badf0;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 13px;
  display: block;
  margin: 8px auto;
  line-height: 1.35;
}
button:hover {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
*,
:after,
:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.hidden {
  display: none;
}
.line .post-body ul,
.post h1,
h3,
h4,
h5,
ol,
p,
pre {
  margin-bottom: 20px;
}
body,
html {
  height: 100%;
}
h1 {
  font-size: 30px;
  letter-spacing: -1px;
  color: #222;
  font-weight: 700;
}
h2 {
  font: italic 19px/1.3em Georgia, serif;
  color: #bbb;
  margin: 40px 0 -5px 0;
}
h3,
h4,
h5 {
  color: #333;
}
h3 {
  font-size: 20px;
  font-weight: 400;
}
h4 {
  font-size: 16px;
  font-weight: 700;
}
h5 {
  font-size: 15px;
  font-weight: 700;
}
h6 {
  font-size: 13px;
  font-weight: 700;
  color: #666;
  margin-bottom: 6px;
}
p.small {
  color: #bbb;
  font-size: 14px;
  line-height: 1.5;
  display: block;
  text-align: center;
  margin-top: 20px;
}
p a {
  color: #5694f1;
}
ol,
ul {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
ul {
  list-style-type: circle;
}
ol {
  list-style: decimal;
}
li {
  list-style-position: inside;
}
blockquote {
  padding-left: 15px;
  border-left: 3px solid #eee;
}
hr {
  display: block;
  border: none;
  height: 1px;
  margin: 40px auto;
  background: #eee;
}
span.code {
  font-family: Menlo, Monaco, Courier;
  background-color: #eee;
  font-size: 14px;
}
pre {
  font-family: Menlo, Monaco, Courier;
  white-space: pre-wrap;
  padding: 20px;
  background-color: #fff;
  overflow: auto;
  border-radius: 3px;
  font-family: 'Source Code Pro', Menlo, monospace;
  font-size: 13px;
  line-height: 1.5em;
  font-weight: 500;
  color: #d0d4d7;
}
td,
th {
  text-align: left;
  padding-right: 20px;
  vertical-align: top;
}
table td,
td {
  border-spacing: none;
  border-style: solid;
  padding: 10px 15px;
  border-width: 1px 0 0 0;
}
tr > td {
  border-top: 1px solid #eaeaea;
}
tr:nth-child(odd) > td {
  background: #fcfcfc;
}
th,
thead th {
  text-align: left;
  padding: 10px 15px;
  height: 20px;
  font-size: 13px;
  font-weight: 700;
  color: #444;
  border-bottom: 1px solid #dadadc;
  cursor: default;
  white-space: nowrap;
}
img {
  max-width: 100%;
  border-radius: 3px;
}
b,
strong {
  font-weight: 500;
  color: #1e2025;
}
em,
i {
  font-style: italic;
}
code {
  font-family: Menlo, Monaco, Courier;
  background-color: #fff;
  font-size: 14px;
  font-family: Menlo, Monaco, Courier, monospace;
  padding: 4px;
  font-size: 11px;
  border-radius: 4px;
  overflow: scroll;
  -webkit-box-shadow: inset 0 0 0 1px #e4ebf2;
  box-shadow: inset 0 0 0 1px #e4ebf2;
  margin: 0;
}
audio,
video {
  width: 100%;
}
nav.main-nav {
  padding: 20px 20px 0;
  background: #fff;
  background: rgba(255,255,255,0.9);
  margin: 0 auto;
  text-align: right;
  z-index: 100;
}
nav.main-nav a {
  top: 8px;
  right: 6px;
  padding: 8px 12px;
  color: #5badf0;
  font-size: 13px;
  line-height: 1.35;
  border-radius: 3px;
}
nav.main-nav a.cta {
  background: #5badf0;
  color: #fff;
  margin-left: 12px;
}
.profile #wrapper {
  padding: 100px 40px 0;
  max-width: 800px;
  margin: 0 auto;
}
.profile #header {
  padding-bottom: 40px;
  text-align: center;
  position: relative;
}
.profile #avatar {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.profile h1 {
  font-weight: 400;
  letter-spacing: 0;
  font-size: 20px;
  color: #222;
}
.profile h2 {
  font-size: 20px;
  font-weight: 300;
  color: #aaa;
  margin-top: 10px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
}
.home #avatar {
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.description {
  float: right;
  font: italic 14px/1.4em Georgia, serif;
  color: #aaa;
}
#title {
  display: inline-block;
  line-height: 100%;
  font-weight: 500;
  font-size: 19px;
  margin: 0;
  padding-bottom: 20px;
}
#post-list a:hover,
#post-list li:hover .dates,
#title,
#title:hover,
a {
  text-decoration: none;
  color: #5badf0;
  color: #5694f1;
}
#post-list a,
#post-nav a,
a,
button {
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
#post-list {
  margin-bottom: 0;
}
#post-list h2 {
  font: 400 17px/1.5em "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #aaa;
  max-width: 400px;
  margin-top: 2px;
}
#post-list li:last-child {
  border-bottom: 1px solid #eee;
}
#post-list a {
  color: #333;
  display: block;
  font: 700 19px/1.7 "Helvetica Neue", helvetica, Arial, sans-serif;
}
#post-list .dates {
  float: right;
  position: relative;
  top: 1px;
  font: 300 17px/1.8 "Helvetica Neue", helvetica, Arial, sans-serif;
  color: #bbb;
}
#post-list-footer {
  border-top: 1px solid #eee;
  margin-top: 20px;
  padding-top: 100px;
}
#post-body,
p {
  line-height: 1.7;
}
.home h1 {
  font-size: 30px;
  letter-spacing: -1px;
  color: #222;
  font-weight: 700;
}
.home h2 {
  font: italic 19px/1.3em Georgia, serif;
  color: #bbb;
}
.post {
  margin: 80px 0 0 0;
}
.post header {
  text-align: center;
}
.post h1 {
  margin-bottom: 0;
  color: #222;
  font: 300 32px/1.4em "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.post h2 {
  margin-bottom: 40px;
  font: 300 24px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #111;
}
.post h2.subtitle {
  font: italic 19px/1.3em Georgia, serif;
  color: #bbb;
}
.post h2.headline {
  font: 400 13px/1.5em "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: -5px 0 40px 0;
  color: #b2b9be;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
}
h2.footline {
  font: italic 400 13px/1.5em "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  font-size: 13px;
  margin: 40px 0 -5px 0;
}
h2.footline a:before {
  content: "#";
}
h2.month {
  width: 100%;
  font: 700 13px/1 "Helvetica Neue", helvetica, Arial, sans-serif;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
#post-meta {
  font-size: 13px;
  font-weight: 700;
  line-height: 1.4;
  border-top: 1px solid #eee;
  padding-top: 40px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  color: #444;
  border-bottom: 1px solid #eee;
}
#post-meta div {
  margin: 0 25px 0 0;
  float: left;
}
#post-meta div span {
  color: #aaa;
  font-weight: 500;
  display: block;
}
#post-meta div span.dark {
  color: #1e2025;
}
#post-meta img.avatar {
  height: 36px;
  width: 36px;
  float: left;
  border-radius: 50%;
  margin-top: 3px;
  margin-right: 20px;
  -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #eee;
  box-shadow: 0 0 0 3px #fff, 0 0 0 4px #eee;
}
#sharing {
  float: right;
  margin: -2px;
}
#sharing a {
  font-size: 13px;
  font-weight: 700;
  margin-top: 4px;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  padding: 6px 10px;
  border-radius: 4px;
  margin-left: 2px;
}
#sharing a.facebook {
  background: #4361b3;
}
#sharing a.twitter {
  background: #4fafed;
}
#sharing a:hover {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
#post-list.archive.readmore h3 {
  font: 400 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 30px;
}
#post-list.archive.readmore a {
  font: 400 16px/1.6 "Helvetica Neue", helvetica, Arial, sans-serif;
  color: #5694f1;
}
#post-list.archive.readmore a:hover {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
#post-list.archive.readmore .dates {
  font: 300 16px/1.6 "Helvetica Neue", helvetica, Arial, sans-serif;
}
h1.archive {
  margin-bottom: 0;
}
.gitment-container {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  word-wrap: break-word;
}
.gitment-container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.gitment-container :disabled {
  cursor: not-allowed;
}
.gitment-container a:hover {
  text-decoration: underline;
}
.gitment-container .gitment-hidden {
  display: none;
}
.gitment-container .gitment-spinner-icon {
  fill: #333;
  -webkit-animation: gitment-spin 1s steps(12) infinite;
  -webkit-animation: gitment-spin 1s steps(12) infinite;
  -moz-animation: gitment-spin 1s steps(12) infinite;
  -o-animation: gitment-spin 1s steps(12) infinite;
  -ms-animation: gitment-spin 1s steps(12) infinite;
  animation: gitment-spin 1s steps(12) infinite;
}
.gitment-container a,
.gitment-container a:visited {
  cursor: pointer;
  text-decoration: none;
}
.gitment-root-container {
  margin: 19px 0;
}
.gitment-header-container {
  margin: 19px 0;
  display: none;
}
.gitment-comment-like-btn,
.gitment-header-like-btn {
  cursor: pointer;
}
.gitment-comment-like-btn {
  float: right;
}
.gitment-comment-like-btn.liked {
  color: #5badf0;
}
.gitment-comment-like-btn svg {
  vertical-align: middle;
  height: 20px;
}
.gitment-header-like-btn svg {
  vertical-align: middle;
  height: 30px;
}
.gitment-comment-like-btn.liked svg,
.gitment-header-like-btn.liked svg {
  fill: #5badf0;
}
a.gitment-header-issue-link,
a.gitment-header-issue-link:visited {
  float: right;
  line-height: 30px;
  color: #666;
}
a.gitment-header-issue-link:hover {
  color: #666;
}
a.gitment-editor-logout-link:hover {
  color: #2196f3;
  text-decoration: none;
}
a.gitment-editor-footer-tip {
  display: inline-block;
  padding-top: 10px;
  font-size: 12px;
  color: #666;
  display: none;
}
a.gitment-editor-footer-tip:hover {
  color: #2196f3;
  text-decoration: none;
}
.gitment-comments-empty,
.gitment-comments-error,
.gitment-comments-loading {
  text-align: center;
  margin: 50px 0;
}
.gitment-comments-list {
  list-style: none;
  padding-left: 0;
  margin: 0 0 38px;
}
.gitment-comment,
.gitment-editor-container {
  position: relative;
  min-height: 60px;
  padding-left: 60px;
  margin: 19px 0;
}
.gitment-comment-avatar,
.gitment-editor-avatar {
  float: left;
  margin-left: -60px;
}
.gitment-comment-avatar,
.gitment-comment-avatar-img,
.gitment-editor-avatar svg,
.gitment-editor-avatar-img {
  width: 44px;
  height: 44px;
  border-radius: 3px;
}
.gitment-editor-avatar .gitment-github-icon {
  fill: #fff;
  background-color: #5badf0;
}
.gitment-comment-main,
.gitment-editor-main {
  position: relative;
  border: 1px dashed #5badf0;
  border-radius: 3px;
  background-color: rgba(255,255,255,0.5);
}
.gitment-comment-main::after,
.gitment-comment-main::before,
.gitment-editor-main::after,
.gitment-editor-main::before {
  position: absolute;
  left: -16px;
  display: block;
  width: 0;
  height: 0;
  pointer-events: none;
  content: "";
  border-color: transparent;
  position: absolute;
  top: 11px;
  left: -16px;
  display: block;
  width: 0;
  height: 0;
  pointer-events: none;
  content: "";
  border-color: transparent;
  border-style: dashed dashed outset;
  border-style: dashed dashed outset;
  text-shadow: -20px 20px 20px 20px #000;
}
.gitment-comment-main::before,
.gitment-editor-main::before {
  border-width: 8px;
  border-right-color: #5badf0;
}
.gitment-comment-main::after,
.gitment-editor-main::after {
  margin-top: 1px;
  margin-left: 2px;
  border-width: 7px;
  border-right-color: #fff;
}
.gitment-comment-header {
  margin: 12px 15px;
  color: #666;
  border-radius: 3px;
}
.gitment-editor-header {
  padding: 0;
  margin: 0;
  border-bottom: 1px dashed #5badf0;
}
a.gitment-comment-name,
a.gitment-comment-name:visited {
  font-weight: 600;
}
.gitment-editor-tabs {
  margin-bottom: -1px;
  margin-left: -1px;
  border: none;
}
.gitment-editor-tab {
  display: inline-block;
  padding: 11px 12px;
  font-size: 14px;
  line-height: 20px;
  color: #666;
  text-decoration: none;
  background-color: transparent;
  border-width: 0 1px;
  border-style: dashed;
  border-color: transparent;
  border-radius: 0;
  white-space: nowrap;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
  top: 8px;
  right: 6px;
  padding: 8px 12px;
  font-size: 13px;
  line-height: 1.35;
}
.gitment-editor-tab.gitment-selected {
  color: #5badf0;
  border-color: #5badf0;
  background-color: rgba(255,255,255,0.5);
  border-bottom: 1px solid #fff;
}
.gitment-editor-login {
  float: right;
  margin-top: -27px;
  margin-right: 15px;
}
a.gitment-editor-login-link,
a.gitment-editor-login-link:visited,
a.gitment-footer-project-link,
a.gitment-footer-project-link:visited {
  color: #5badf0;
}
a.gitment-editor-logout-link,
a.gitment-editor-logout-link:visited {
  color: #666;
}
.gitment-comment-body {
  position: relative;
  margin: 12px 15px;
  overflow: hidden;
  border-radius: 3px;
}
.gitment-comment-body-folded {
  cursor: pointer;
}
.gitment-comment-body-folded::before {
  display: block !important;
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 50px;
  pointer-events: none;
  background: -webkit--webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0.9));
  background: -webkit--moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0.9));
  background: -webkit--o-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0.9));
  background: -webkit--ms-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0.9));
  background: -webkit-linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0.9));
  background: -webkit-linear-gradient(270deg, rgba(255,255,255,0), rgba(255,255,255,0.9));
  background: -moz-linear-gradient(270deg, rgba(255,255,255,0), rgba(255,255,255,0.9));
  background: -o-linear-gradient(270deg, rgba(255,255,255,0), rgba(255,255,255,0.9));
  background: -ms-linear-gradient(270deg, rgba(255,255,255,0), rgba(255,255,255,0.9));
  background: linear-gradient(180deg, rgba(255,255,255,0), rgba(255,255,255,0.9));
}
.gitment-comment-body-folded::after {
  display: block !important;
  content: "Click to Expand" !important;
  text-align: center;
  color: #666;
  position: absolute;
  width: 100%;
  height: 50px;
  line-height: 50px;
  left: 0;
  bottom: 0;
  pointer-events: none;
  background: rgba(255,255,255,0.9);
}
.gitment-editor-body {
  margin: 0;
}
.gitment-editor-body textarea {
  display: block;
  width: 100%;
  min-height: 150px;
  max-height: 500px;
  padding: 16px;
  resize: vertical;
  max-width: 100%;
  margin: 0;
  font-size: 14px;
  line-height: 1.6;
  background-color: rgba(255,255,255,0.5);
  color: #333;
  vertical-align: middle;
  border: none;
  border-radius: 0;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  overflow: visible;
}
.gitment-editor-body textarea:focus {
  background-color: #fff;
}
.gitment-comment-body>:first-child,
.gitment-editor-preview>:first-child {
  margin-top: 0 !important;
}
.gitment-comment-body>:last-child,
.gitment-editor-preview>:last-child {
  margin-bottom: 0 !important;
}
.gitment-editor-preview {
  min-height: 150px;
  padding: 16px;
  background-color: rgba(255,255,255,0.5);
  width: 100%;
  font-size: 14px;
  line-height: 1.5;
  word-wrap: break-word;
}
.gitment-editor-footer {
  padding: 0;
  margin-top: 10px;
}
.gitment-editor-footer::after {
  display: table;
  clear: both;
  content: "";
}
.gitment-comments-pagination {
  list-style: none;
  text-align: right;
  border-radius: 0;
  margin: -19px 0 19px 0;
}
.gitment-comments-page-item {
  display: inline-block;
  cursor: pointer;
  border: 1px dashed #cfd8dc;
  margin-left: -1px;
  padding: 0.25rem 0.5rem;
}
.gitment-comments-page-item:hover {
  background-color: #f5f5f5;
}
.gitment-comments-page-item.gitment-selected {
  background-color: #f5f5f5;
}
.gitment-comments-init-btn,
.gitment-editor-submit {
  color: #fff;
  background-color: #5badf0;
  position: relative;
  display: inline-block;
  padding: 7px 13px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-background-size: 110% 110%;
  -moz-background-size: 110% 110%;
  background-size: 110% 110%;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 3px;
}
.gitment-comments-init-btn:hover,
.gitment-editor-submit:hover {
  background-color: #36a4ff;
}
.gitment-comments-init-btn:disabled,
.gitment-editor-submit:disabled {
  color: rgba(255,255,255,0.75);
  background-color: #5badf0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.gitment-editor-submit {
  float: right;
}
.gitment-footer-container {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: right;
  font-size: 12px;
  display: none;
}
.gitment-markdown {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}
.gitment-markdown .pl-c {
  color: #969896;
}
.gitment-markdown .pl-ent {
  color: #63a35c;
}
.gitment-markdown .pl-k {
  color: #a71d5d;
}
.gitment-markdown .pl-bu {
  color: #b52a1d;
}
.gitment-markdown .pl-ii {
  color: #f8f8f8;
  background-color: #b52a1d;
}
.gitment-markdown .pl-c2 {
  color: #f8f8f8;
  background-color: #b52a1d;
}
.gitment-markdown .pl-c2::before {
  content: "^M";
}
.gitment-markdown .pl-sr .pl-cce {
  font-weight: 700;
  color: #63a35c;
}
.gitment-markdown .pl-ml {
  color: #693a17;
}
.gitment-markdown .pl-mq {
  color: #008080;
}
.gitment-markdown .pl-mi {
  font-style: italic;
  color: #333;
}
.gitment-markdown .pl-mb {
  font-weight: 700;
  color: #333;
}
.gitment-markdown .pl-md {
  color: #bd2c00;
  background-color: #ffecec;
}
.gitment-markdown .pl-mi1 {
  color: #55a532;
  background-color: #eaffea;
}
.gitment-markdown .pl-mc {
  color: #ef9700;
  background-color: #ffe3b4;
}
.gitment-markdown .pl-mi2 {
  color: #d8d8d8;
  background-color: #808080;
}
.gitment-markdown .pl-mdr {
  font-weight: 700;
  color: #795da3;
}
.gitment-markdown .pl-mo {
  color: #1d3e81;
}
.gitment-markdown .pl-ba {
  color: #595e62;
}
.gitment-markdown .pl-sg {
  color: #c0c0c0;
}
.gitment-markdown .pl-corl {
  text-decoration: underline;
  color: #183691;
}
.gitment-markdown .octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
  vertical-align: text-bottom;
}
.gitment-markdown a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  color: #0366d6;
  text-decoration: none;
}
.gitment-markdown a:hover {
  text-decoration: underline;
}
.gitment-markdown a:not([href]) {
  color: inherit;
  text-decoration: none;
}
.gitment-markdown strong {
  font-weight: inherit;
  font-weight: bolder;
  font-weight: 600;
}
.gitment-markdown h1 {
  font-size: 2em;
  margin: 0.67em 0;
  font-size: 32px;
  font-weight: 600;
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px dashed #eaecef;
}
.gitment-markdown img {
  border-style: none;
  max-width: 100%;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-color: #fff;
}
.gitment-markdown svg:not(:root) {
  overflow: hidden;
}
.gitment-markdown hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: 0 0;
  border: 0;
  border-bottom: 1px dashed #dfe2e5;
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  border: 0;
  border-bottom-color: #eee;
}
.gitment-markdown hr::before {
  display: table;
  content: "";
}
.gitment-markdown hr::after {
  display: table;
  clear: both;
  content: "";
}
.gitment-markdown input {
  font: inherit;
  margin: 0;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.gitment-markdown [type=checkbox] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
.gitment-markdown * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.gitment-markdown table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: 100%;
  overflow: auto;
}
.gitment-markdown table th {
  font-weight: 600;
}
.gitment-markdown table tr {
  background-color: #fff;
  border-top: 1px dashed #c6cbd1;
}
.gitment-markdown table tr:nth-child(2n) {
  background-color: #f5f5f5;
}
.gitment-markdown h2 {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px dashed #eaecef;
}
.gitment-markdown h3 {
  font-size: 20px;
  font-weight: 600;
  font-size: 1.25em;
}
.gitment-markdown h4 {
  font-size: 16px;
  font-weight: 600;
  font-size: 1em;
}
.gitment-markdown h5 {
  font-size: 14px;
  font-weight: 600;
  font-size: 0.875em;
}
.gitment-markdown h6 {
  font-size: 12px;
  font-weight: 600;
  font-size: 0.85em;
  color: #6a737d;
}
.gitment-markdown p {
  margin-top: 0;
  margin-bottom: 10px;
}
.gitment-markdown blockquote {
  margin: 0;
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em dashed #dfe2e5;
}
.gitment-markdown blockquote > :first-child {
  margin-top: 0;
}
.gitment-markdown blockquote > :last-child {
  margin-bottom: 0;
}
.gitment-markdown dd {
  margin-left: 0;
}
.gitment-markdown code {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27,31,35,0.05);
  border-radius: 0;
}
.gitment-markdown pre {
  margin-top: 0;
  margin-bottom: 0;
  font: 12px SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
  word-wrap: normal;
}
.gitment-markdown pre > code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: 0 0;
  border: 0;
}
.gitment-markdown pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}
.gitment-markdown .pl-0 {
  padding-left: 0 !important;
}
.gitment-markdown .pl-1 {
  padding-left: 4px !important;
}
.gitment-markdown .pl-2 {
  padding-left: 8px !important;
}
.gitment-markdown .pl-3 {
  padding-left: 16px !important;
}
.gitment-markdown .pl-4 {
  padding-left: 24px !important;
}
.gitment-markdown .pl-5 {
  padding-left: 32px !important;
}
.gitment-markdown .pl-6 {
  padding-left: 40px !important;
}
.gitment-markdown::before {
  display: table;
  content: "";
}
.gitment-markdown::after {
  display: table;
  clear: both;
  content: "";
}
.gitment-markdown > :first-child {
  margin-top: 0 !important;
}
.gitment-markdown > :last-child {
  margin-bottom: 0 !important;
}
.gitment-markdown .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}
.gitment-markdown .anchor:focus {
  outline: 0;
}
.gitment-markdown kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: dashed 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 0;
  -webkit-box-shadow: inset 0 -1px 0 #959da5;
  box-shadow: inset 0 -1px 0 #959da5;
  display: inline-block;
  padding: 3px 5px;
  font: 11px SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: dashed 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 0;
  -webkit-box-shadow: inset 0 -1px 0 #959da5;
  box-shadow: inset 0 -1px 0 #959da5;
}
.gitment-markdown li > p {
  margin-top: 16px;
}
.gitment-markdown li + li {
  margin-top: 0.25em;
}
.gitment-markdown dl {
  padding: 0;
}
.gitment-markdown dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}
.gitment-markdown dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}
.gitment-markdown .highlight {
  margin-bottom: 16px;
}
.gitment-markdown .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}
.gitment-markdown .full-commit .btn-outline:not(:disabled):hover {
  color: #005cc5;
  border-color: #005cc5;
}
.gitment-markdown :checked + .radio-label {
  position: relative;
  z-index: 1;
  border-color: #0366d6;
}
.gitment-markdown .task-list-item {
  list-style-type: none;
}
.gitment-markdown .task-list-item + .task-list-item {
  margin-top: 3px;
}
.gitment-markdown .task-list-item input {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
}
.gitment-markdown .pl-c1,
.gitment-markdown .pl-s .pl-v {
  color: #0086b3;
}
.gitment-markdown .pl-e,
.gitment-markdown .pl-en {
  color: #795da3;
}
.gitment-markdown .pl-s .pl-s1,
.gitment-markdown .pl-smi {
  color: #333;
}
.gitment-markdown .pl-pds,
.gitment-markdown .pl-s,
.gitment-markdown .pl-s .pl-pse .pl-s1,
.gitment-markdown .pl-sr,
.gitment-markdown .pl-sr .pl-cce,
.gitment-markdown .pl-sr .pl-sra,
.gitment-markdown .pl-sr .pl-sre {
  color: #183691;
}
.gitment-markdown .pl-smw,
.gitment-markdown .pl-v {
  color: #ed6a43;
}
.gitment-markdown .pl-mh,
.gitment-markdown .pl-mh .pl-en,
.gitment-markdown .pl-ms {
  font-weight: 700;
  color: #1d3e81;
}
.gitment-markdown a:active,
.gitment-markdown a:hover {
  outline-width: 0;
}
.gitment-markdown code,
.gitment-markdown kbd,
.gitment-markdown pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
.gitment-markdown td,
.gitment-markdown th {
  padding: 0;
}
.gitment-markdown h1,
.gitment-markdown h2,
.gitment-markdown h3,
.gitment-markdown h4,
.gitment-markdown h5,
.gitment-markdown h6 {
  margin-top: 0;
  margin-bottom: 0;
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}
.gitment-markdown ol,
.gitment-markdown ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}
.gitment-markdown ol ol,
.gitment-markdown ul ol {
  list-style-type: lower-roman;
}
.gitment-markdown ol ol ol,
.gitment-markdown ol ul ol,
.gitment-markdown ul ol ol,
.gitment-markdown ul ul ol {
  list-style-type: lower-alpha;
}
.gitment-markdown blockquote,
.gitment-markdown dl,
.gitment-markdown ol,
.gitment-markdown p,
.gitment-markdown pre,
.gitment-markdown table,
.gitment-markdown ul {
  margin-top: 0;
  margin-bottom: 16px;
}
.gitment-markdown h1 .octicon-link,
.gitment-markdown h2 .octicon-link,
.gitment-markdown h3 .octicon-link,
.gitment-markdown h4 .octicon-link,
.gitment-markdown h5 .octicon-link,
.gitment-markdown h6 .octicon-link {
  color: #1b1f23;
  vertical-align: middle;
  visibility: hidden;
}
.gitment-markdown h1:hover .anchor,
.gitment-markdown h2:hover .anchor,
.gitment-markdown h3:hover .anchor,
.gitment-markdown h4:hover .anchor,
.gitment-markdown h5:hover .anchor,
.gitment-markdown h6:hover .anchor {
  text-decoration: none;
}
.gitment-markdown h1:hover .anchor .octicon-link,
.gitment-markdown h2:hover .anchor .octicon-link,
.gitment-markdown h3:hover .anchor .octicon-link,
.gitment-markdown h4:hover .anchor .octicon-link,
.gitment-markdown h5:hover .anchor .octicon-link,
.gitment-markdown h6:hover .anchor .octicon-link {
  visibility: visible;
}
.gitment-markdown ol ol,
.gitment-markdown ol ul,
.gitment-markdown ul ol,
.gitment-markdown ul ul {
  margin-top: 0;
  margin-bottom: 0;
}
.gitment-markdown table td,
.gitment-markdown table th {
  padding: 6px 13px;
  border: 1px dashed #dfe2e5;
}
.gitment-markdown code::after,
.gitment-markdown code::before {
  letter-spacing: -0.2em;
  content: "\00a0";
}
.gitment-markdown .highlight pre,
.gitment-markdown pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f5f5f5;
  border-radius: 0;
}
.gitment-markdown pre code::after,
.gitment-markdown pre code::before {
  content: normal;
}
#post-nav {
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  margin-top: 20px;
}
#post-nav span {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  transition: all 0.1s linear;
  position: relative;
}
#post-nav span.prev {
  float: left;
}
#post-nav span.prev:hover {
  left: -3px;
}
#post-nav span.prev:hover .arrow {
  left: -4px;
}
#post-nav span.next {
  float: right;
}
#post-nav span.next:hover {
  right: -3px;
}
#post-nav span.next:hover .arrow {
  right: -4px;
}
#post-nav span .arrow {
  position: relative;
  padding: 1px;
}
#social {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
a.symbol {
  color: #cdd4da;
  font-size: 2rem;
  text-decoration: none;
  margin-right: 0.3rem;
}
a.symbol:hover {
  color: #bcd4da;
}
#footer {
  padding: 40px 0 0 0;
}
#archive-list {
  margin-top: 100px;
}
#archive-list li:last-child {
  margin-bottom: 0;
}
#archive-list a {
  display: block;
  font: 700 17px/1.7 "Helvetica Neue", helvetica, Arial, sans-serif;
  color: #333;
}
#archive-list .dates {
  float: right;
  position: relative;
  top: 1px;
  font: 300 17px/1.7 "Helvetica Neue", helvetica, Arial, sans-serif;
  color: #bbb;
}
#archive-list li,
#post-list li {
  border-top: 1px solid #eee;
  padding-top: 20px;
  padding-bottom: 20px;
  list-style-type: none;
  margin-bottom: 0;
}
#archive-link {
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
  border-radius: 4px;
  padding: 3px 10px 6px;
  -webkit-box-shadow: 0 0 0 1px #a2d0f6;
  box-shadow: 0 0 0 1px #a2d0f6;
}
#archive-link:hover {
  background: #5694f1;
  color: #fff;
  -webkit-box-shadow: 0 0 0 1px #5694f1;
  box-shadow: 0 0 0 1px #5694f1;
}
#archive-link span {
  position: relative;
  top: 0;
  font-size: 17px;
}
#archive-list li a:hover,
#archive-list li:hover .dates {
  color: #5694f1;
}
.archive .post-link,
.ct-list a {
  color: #8a8a8a;
}
.archive .post-link:hover,
.ct-list a:hover {
  color: #5694f1;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.ct-list {
  padding: 10px 0;
}
.ct-list a {
  margin-right: 10px;
  font: 400 14px/1.5em "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.ct-list span {
  font-style: normal;
  font-size: 0.6em;
  vertical-align: super;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}
#tagcloud a:before {
  content: '#';
}
#tag h3:before {
  content: '#';
}
.archive {
  margin: 0 0 50px 0;
  font-size: 16px;
}
.archive .post-item {
  padding: 10px 0;
  overflow-x: hidden;
  white-space: nowrap;
}
.archive .post-time {
  display: inline-block;
  width: 60px;
  margin: 0;
  color: #8a8a8a;
}
.archive-title {
  margin: 0;
  color: #666;
}
.archive-page-counter,
.category-page-counter,
.tag-page-counter {
  font: italic 19px/1.3em Georgia, serif;
  display: block;
  margin-bottom: 10px;
}
.code pre {
  overflow-x: auto;
  color: #24292e;
  -webkit-text-size-adjust: none;
}
#post-body .highlight {
  margin: 0;
  padding: 16px;
  background: #f6f8fa;
  overflow: auto;
  color: #ccc;
  border-radius: 3px;
  margin-bottom: 20px;
}
#post-body .highlight code {
  background: #eee;
  text-shadow: 0 1px #fff;
  padding: 0 0.3em;
}
#post-body .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
  white-space: pre;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 13px;
  padding: 4px;
  border-radius: 0;
  background: transparent;
}
#post-body .highlight table {
  margin: 0;
  width: auto;
  border: 0 none;
}
#post-body .highlight tr {
  border: 0 none;
}
#post-body .highlight td {
  border: 0 none;
  padding: 0;
  background: transparent;
}
#post-body .highlight td.gutter {
  padding: 0;
}
#post-body .highlight figcaption {
  font-size: 0.75em;
  color: #999;
  line-height: 1em;
  margin-bottom: 1em;
}
#post-body .highlight figcaption a {
  float: right;
}
#post-body pre {
  font-size: 0.85em;
}
#post-body pre code {
  background: 0 0;
  text-shadow: none;
  padding: 0;
}
#post-body .gist {
  margin: 0 -20px;
  border-style: solid;
  border-color: #dedede;
  border-width: 1px 0;
  background: #2d2d2d;
  padding: 15px 20px 15px 0;
}
#post-body .gist .gist-file {
  border: none;
  margin: 0;
}
#post-body .gist .gist-file .gist-data {
  background: 0 0;
  border: none;
}
#post-body .gist .gist-file .gist-data .line-numbers {
  background: 0 0;
  border: none;
  padding: 0 20px 0 0;
}
#post-body .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
#post-body .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
#post-body .gist .gist-file .gist-meta {
  background: #2d2d2d;
  color: #999;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 20px;
}
#post-body .gist .gist-file .gist-meta a {
  color: #7cc576;
  font-weight: 400;
}
#post-body .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
#post-body .gist .gist-file .gist-data .line-numbers,
#post-body .highlight .gutter pre {
  color: #7c90a5;
}
.comment,
.meta {
  color: #6a737d;
}
.string,
.variable,
.template-variable,
.strong,
.emphasis,
.quote {
  color: #df5000;
}
.keyword,
.selector-tag,
.type {
  color: #6f42c1;
}
.literal,
.symbol,
.bullet,
.attribute,
.number {
  color: #005cc5;
}
.section,
.name {
  color: #22863a;
}
.tag {
  color: #333;
}
.title,
.attr,
.selector-id,
.selector-class,
.selector-attr,
.selector-pseudo {
  color: #795da3;
}
.addition {
  color: #55a532;
  background-color: #eaffea;
}
.deletion {
  color: #bd2c00;
  background-color: #ffecec;
}
.emphasis {
  font-style: italic;
}
.strong {
  font-weight: 700;
}
.instantclick-bar {
  background: #5badf0 !important;
}
@media screen and (max-width: 540px) {
  #wrapper {
    padding: 20px 20px 20px 20px;
  }
  nav.main-nav {
    text-align: center;
  }
  a.cta {
    display: none;
  }
  #post-meta {
    margin-top: 60px;
  }
  h2.footline {
    font-size: 13px;
  }
  h1 {
    font-size: 26px;
  }
  #post-list .dates {
    display: none;
  }
  #post-list-footer {
    margin-top: 20px;
    padding-top: 40px;
  }
  .post {
    margin: 40px 0;
  }
  h2 {
    font-size: 20px;
  }
  h2.headline {
    font-size: 13px;
  }
  h1 {
    font-size: 24px;
  }
  #archive-list,
  #post-list {
    margin-top: 0;
  }
  #title {
    font-size: 17px;
  }
}
@media screen and (max-width: 768px) {
  .archive .post-time {
    margin: 5px 0;
    width: auto;
    font-size: 13px;
    display: block;
  }
}
