<footer id="footer">
	<div id="social">
		<p class="small">© Copyright <%= new Date().getFullYear() %>
			<a href="<%- config.root %>"> <%= config.author %> </a>/
			<a href="https://hexo.io"> Hexo </a>/
			<a href="https://github.com/caisiduo/hexo-theme-lightime"> Lightime</a>
		</p>
	</div>
</footer>